@import "tailwindcss";

@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100vh) scale(1.8);
    opacity: 0;
  }
}

.animate-float {
  animation: floatUp linear infinite;
}

  @keyframes pulse-slow {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.02); }
  }
  @keyframes fadeIn {
      from { opacity: 0; transform: translateY(30px); }
      to { opacity: 1; transform: translateY(0); }
  }
  .animate-pulse-slow {
      animation: pulse-slow 4s ease-in-out infinite;
  }
  .animate-fadeIn {
      animation: fadeIn 0.8s ease-out forwards;
  }
